<div class="card my-5">
    <div class="container mt-5">
      <div class="custom-wrapper">
        <div class="container mt-5">
        <h2 class="mb-3 text-center">Choose Address </h2>
        </div>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="container mt-5">
            <select
              class="custom-select custom-select-lg mb-3"
              (change)="changeCity($event)"
              formControlName="cityID"
            >
              <option value="">Choose City</option>
              <option *ngFor="let city of cties" [ngValue]="city.cityID" >
                
                {{ city.cityName }}
              </option>
            </select>
            
            <!-- error block -->
            <div class="invalid-feedback" *ngIf="isSubmitted && cityID?.invalid">
              <sup>*</sup>Please provide city name
            </div>
          </div>
          <div class="container mt-5">
            <select
              class="custom-select custom-select-lg mb-3"
              (change)="changeTown($event)"
              formControlName="townID">

              <option value="">Choose Town</option>
              <option *ngFor="let town of towns" [ngValue]="town.townID">
                {{ town.townName }}
              </option>

            </select>
            
            <!-- error block -->
            <div class="invalid-feedback" *ngIf="isSubmitted && townID?.invalid">
              <sup>*</sup>Please provide town name
            </div>
          </div>
          <div class="container mt-5">
            <select
              class="custom-select custom-select-lg mb-3"
              (change)="changeDistrict($event)"
              formControlName="districtID"
            >
              <option value="">Choose District</option>
              <option *ngFor="let district of districts" [ngValue]="district.districtID">
                {{ district.districtName }}
              </option>
            </select>
            
            <!-- error block -->
            <div class="invalid-feedback" *ngIf="isSubmitted && districtID?.invalid">
              <sup>*</sup>Please provide district name
            </div>
          </div>
          <div class="container mt-5">
            <select
              class="custom-select custom-select-lg mb-3"
              (change)="changeNeighborhood($event)"
              formControlName="districtID"
            >
              <option value="">Choose Neighborhood</option>
              <option *ngFor="let neighborhood of neighborhoods" [ngValue]="neighborhood.neighborhoodID">
                {{ neighborhood.neighborhoodName }}
              </option>
            </select>
            
            <!-- error block -->
            <div class="invalid-feedback" *ngIf="isSubmitted && districtID?.invalid">
              <sup>*</sup>Please provide neighborhood name
            </div>
          </div>

          <div class="text-input" >
            <h4> Population: <input type="text" id="addressLine1asPopulation" name="addressLine1asPopulation" 
              formControlName="population" (change)="changeText($event)" [(ngModel)]="addressLine1asPopulation"></h4>
          </div>

          <div class="container mt-5" >
            <button type="submit" class="btn btn-danger btn-lg btn-block">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>